// Why using em units for breakpoints?
// https://zellwk.com/blog/media-query-units/

$breakpoint-mobile: 20em;           // 320px
$breakpoint-phablet: 40em;          // 640px
$breakpoint-tablet-portrait: 48em;  // 768px
$breakpoint-tablet-landscape: 62em; // 992px
$breakpoint-laptop: 64rem;          // 1024px
$breakpoint-desktop: 80em;          // 1280px
$breakpoint-hd: 120em;              // 1920px
$breakpoint-retina: 160em;          // 2560px
$breakpoint-4k: 240em;              // 3840px

$breakpoints: (
  mobile:           $breakpoint-mobile,
  phablet:          $breakpoint-phablet,
  tablet:           $breakpoint-tablet-portrait,
  tablet-landscape: $breakpoint-tablet-landscape,
  laptop:           $breakpoint-laptop,
  desktop:          $breakpoint-desktop,
  hd:               $breakpoint-hd,
  retina:           $breakpoint-retina,
  4k:               $breakpoint-4k
);
