/* Error: Missing argument $size.
 *    ,--> src\scss\04-base\_grid.scss
 * 35 |   @include make-col();
 *    |   ^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> src\scss\02-tools\_grid-system.scss
 * 33 | @mixin make-col($size, $columns: $grid-columns) {
 *    |        ======================================== declaration
 *    '
 *   src\scss\04-base\_grid.scss 35:3  make-col()
 *   src\scss\04-base\_grid.scss 35:3  @import
 *   src\scss\04-base\_dir.scss 5:9    @import
 *   src\scss\main.scss 4:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $size.\a    \250c \2500 \2500 > src\\scss\\04-base\\_grid.scss\a 35 \2502    @include make-col();\a    \2502    ^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > src\\scss\\02-tools\\_grid-system.scss\a 33 \2502  @mixin make-col($size, $columns: $grid-columns) {\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   src\\scss\\04-base\\_grid.scss 35:3  make-col()\a   src\\scss\\04-base\\_grid.scss 35:3  @import\a   src\\scss\\04-base\\_dir.scss 5:9    @import\a   src\\scss\\main.scss 4:9            root stylesheet";
}
